body {
    background-color: #000;
    color: #fff;
    padding-top: 53px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    display: flex;
    margin: 0 auto;
    max-width: 1230px;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    max-width: 1230px;
}

.main-nav,
.secondary-nav {
    display: flex;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    font-size: 12px;
    padding: 0;
}

.item {
    margin-right: 20px;
}

.item:last-child {
    margin-right: 0;
}

.item-link {
    text-decoration: none;
    color: #fff;
}

.item-link:hover {
    color: #808080;
}

.main {
    text-align: center;
    padding-top: 120px;
}

.main h1 {
    font-size: 64px;
    line-height: 75px;
    font-weight: normal;
    margin-bottom: 26px;
}

.main p {
    margin: 0 auto;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: lowercase;
    max-width: 270px;
}

.main p::after {
    content: " ";
    display: block;
    width: 1px;
    height: 60px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 26px;
}

.video {
    max-width: 1230px;
    margin: 0 auto;
    height: 750px;
}

.features {
    padding: 190px 20px 0 20px;
}

.overview {
    position: relative;
}

.features-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140%;
    /* or 34px */
    text-transform: uppercase;
    margin-bottom: 45px;
}

.table {
    margin-bottom: 109px;
}

.table td {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 179.69%;
    width: 300px;
    padding: 6px 0 5px 0;
}

.features-text {
    max-width: 490px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
}

.rocket {
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 99;
    max-width: 300px;
}

.footer {
    padding: 200px 0 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .list {
    margin: 43px 0 28px 0;
}

.footer .item-link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.footer-text {
    color: #808080;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
}

.footer-text a {
    color: #808080;
    text-decoration: none;
}

.footer-text a:hover {
    color: #fff;
}

.footer .button {
    min-width: 260px;
    padding: 20px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.footer .button:hover {
    color: #808080;
    border-color: #808080;
}

@media (max-width: 960px) {
    .rocket {
        max-width: 230px;
        top: 800px;
    }
    .table td {
        width: 250px;
    }
}

@media (max-width:770px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header .logo {
        margin-bottom: 20px;
    }
    .header .main-nav {
        margin-bottom: 20px;
    }
    .rocket {
        top: 1000px;
        max-width: 180px;
    }
    .footer {
        padding-top: 150px;
        padding-bottom: 65px;
    }
    .video {
        width: 100%;
    }
}

@media (max-width:576px) {
    .rocket {
        position: static;
        margin-bottom: 60px;
    }
    .table {
        margin-bottom: 0;
    }
    .table td {
        font-size: 14px;
        width: 150px;
    }
    .footer-nav .list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-nav .item {
        margin-bottom: 10px;
    }
    .footer-text {
        text-align: center;
    }
    .main {
        padding-top: 50px;
    }
    .rocket {
        display: block;
        margin: 0 auto;
    }
    .features-title {
        margin-top: 80px;
    }
}